#wrap {
	
	border: 5px solid grey;
	border-radius: 0 0 10px 10px;
	//background-color: lightgrey;
	border-top: 0;
	//float: left;
	//margin-bottom: 20px;
	margin: 0 auto;

}

#footer {

	border: 5px solid grey;
	border-radius: 10px 10px 0 0;
	background-color: lightgrey;
	border-bottom: 0;
	//float: left;
	margin: 20px auto 0 auto;
	
	
}

#content-wrap {

	clear: both;
	padding: 0 2% 1% 2%;
}

#content {

	//clear: both;
	//padding: 5% 2% 2% 2%;
	//border: 5px solid grey;
	//border-radius: 10px;
	padding: 10px;
	//margin-right: 2%;
	//width: 90%;
	//float: left;
	//flex: 1 1 70%;

}

#content .panel {

	margin: 0;
}

#content .list-group {

	margin: auto;
}

#content .list-group pre {

	margin: 0;
}

#manipulator {

	//display: inline;
	//clear: both;
	//width: 5%;
	//float: left;
	//margin-top: auto;
	//flex: 0 1 auto;
	position: relative;
	//top: 0;
	
	
}


#manipulator .button-container {

	//list-style-type: none;
	//margin-right: 5px;
	padding: 5px;
	border: 2px solid grey;
	//border-right: 0;
	//border-radius: 10px;
	//float: right;
	
}

#console-wrapper {

	border-top: 0;
	
	margin: auto;
}


#console-box {
	
	border: 5px solid grey;
	border-radius: 0 0 10px 10px;	
	border-top: 0;
	background-color: black;
	color: green;
	width: 40%;
	float: right;
	padding: 5px;

}

.clear {

	clear: both !important;
}

.no-padding {

	padding: 0 !important;
}

.no-radius {

	border-radius: 0 !important;
}

