Package: snowman-client
Version: 0.3.26
Priority: optional
Architecture: all
Essential: no
Depends: python, python-mysqldb, python-sqlalchemy
Maintainer: Eigil Obrestad
Provides: snowman-client
Description: The client for snowman Snort-rule management.
