[updates]
workarea: /tmp/

# Configures the applications logging. Severity defines how severe an event should
# be before it is logged. Possible values are:
#   - CRITICAL, ERROR, WARNING, INFO, DEBUG
[logging]
logfile: /tmp/srm-server.log
severity: DEBUG
djangoSeverity: INFO

[xmlrpc-server]
address: 127.0.0.1
port: 13471
keyfile: etc/xmlrpc.key.pem
certfile: etc/xmlrpc.pem

[update]
# Put rule in new ruleset automatically if this is changed by source:
changeRuleset: false
